<!--//Google Maps-->
<div class="row">
  <div class="wrapper-map">
    <h1>Mi Red</h1>
    <!--<div id="map_canvas">-->
      <!--<ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging" options="map.options"-->
                          <!--events="map.events" control="map.control">-->
        <!--<ui-gmap-markers idKey="positions.idKey" models="positions" coords="'self'" options="map.optionsMarker"-->
                         <!--labelContent="map.positions.content" events="map.markerEvents"></ui-gmap-markers>-->
        <!--<ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options"-->
                        <!--idkey="marker.id"></ui-gmap-marker>-->
        <!--<ui-gmap-window idKey="map.infoWindow.id" coords='map.infoWindow' show="map.infoWindow.doShow"-->
                        <!--closeclick="closeInfoWindow">-->
          <!--<div>-->
            <!--<label><b>{{'lbl.name' |translate}}: </b>{{map.infoWindow.device.name}}</label><br/>-->
            <!--<label><b>{{'lbl.speed' |translate}}: </b>{{map.infoWindow.speed}} km/h</label><br/>-->
            <!--<label><b>{{'lbl.date' |translate}}: </b>{{map.infoWindow.date | date: 'dd/MM/yyyy'}}</label><br/>-->
            <!--<label><b>{{'lbl.time' |translate}}: </b>{{map.infoWindow.date | date:'HH:mm:ss'}}</label><br/>-->
            <!--<label ng-show="{{map.infoWindow.device.type == 'Kids' ||map.infoWindow.device.type == 'Personal'  }}">-->
              <!--<b>{{'lbl.battery' |translate}}: </b>{{map.infoWindow.battery}}%</label>-->
          <!--</div>-->
        <!--</ui-gmap-window>-->
      <!--</ui-gmap-google-map>-->
  </div>
</div>