<footer id="footer-bar" class="row">
  <p id="footer-copyright" class="col-xs-12">
    {{'footer.power.by'|translate}}
    <!--TODO: Set url of development company-->
    <a href="#" target="_blank"><b></b></a>&nbsp;${display_version}
  </p>
</footer>