<div id="login-page-full">
    <div id="login-full-wrapper" class="reset-password-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="login-box">
                        <div id="login-box-holder">
                            <div class="row">
                                <div class="col-xs-12">
                                    <header id="login-header">
                                        <div id="login-logo">
                                            <!--TODO: set MRSEIN Logo-->
                                            <img src="#" alt=""/>
                                        </div>
                                    </header>
                                    <div id="login-box-inner" class="with-heading">
                                        <h4>{{'resetPassword.title'| translate }}</h4>
                                        <label>{{'resetPassword.description'| translate }}</label>

                                        <form role="form" name="resetPasswordForm">
                                            <div class="reset-pass-input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                                    <input name="password" type="password" class="form-control" maxlength="15" ng-minlength="6" placeholder="{{'userManagement.user.passwordNew'| translate }}" ng-model="passwordtoken.password" required>
                                                </div>
                                                <div class="has-warning">
                                                    <span class="help-block" ng-show="resetPasswordForm.password.$dirty && resetPasswordForm.password.$error.required">{{'validator.error.required.password' | translate}}</span>
                                                    <span class="help-block" ng-show="resetPasswordForm.password.$error.minlength">{{'validator.short.password'| translate}}</span>
                                                </div>

                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                                    <input name="passwordConfirm" type="password" class="form-control" maxlength="15" ng-minlength="4" placeholder="{{'userManagement.user.passwordConfirm'| translate }}" ng-model="passwordtoken.passwordConfirm" required>
                                                </div>
                                                <div class="has-warning">
                                                    <span class="help-block" ng-show="resetPasswordForm.password.$dirty && form.password.$error.required">{{'validator.error.required.password' | translate}}</span>
                                                    <span class="help-block" ng-show="resetPasswordForm.passwordConfirm.$dirty && !arePasswordsEquals()">{{'validator.confirm.password'| translate }}</span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button id="btnForgotPassword" class="btn btn-success col-xs-12" ng-click="resetPassword()" ng-disabled="isBtnResetActive(resetPasswordForm)">
                                                        {{'resetPassword.btn.change'| translate }}
                                                    </button>
                                                </div>
                                                <div class="col-xs-12">
                                                    <br/>
                                                    <a href="#/login" id="login-forget-link" class="forgot-link col-xs-12">{{'lbl.back.to.login'| translate}}</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
