<div id="login-page-full">
    <div id="login-full-wrapper" class="reset-password-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="login-box">
                        <div id="login-box-holder">
                            <div class="row">
                                <div class="col-xs-12">
                                    <header id="login-header">
                                        <div id="login-logo">
                                            <!--TODO: Set MRSEING logo-->
                                            <img src="#" alt=""/>
                                        </div>
                                    </header>
                                    <div id="login-box-inner" class="with-heading">
                                        <h4>{{'forgotPassword.title'| translate }}</h4>

                                        <p>
                                            {{'forgotPassword.description'| translate }}
                                        </p>

                                        <form role="form" name="forgotPasswordForm">

                                            <div class="input-group reset-pass-input">
                                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                <input class="form-control" type="email" name="email"
                                                       placeholder="{{'userManagement.user.email'| translate }}"
                                                       ng-model="email" required ng-maxlength = '150'>
                                            </div>
                                            <span class="help-block alert-warning" ng-show="forgotPasswordForm.email.$error.maxlength">{{'userManagement.user.email.validation.maxlenght'| translate }}</span>
                                            <div class="row"
                                                    title="{{'forgotPassword.btn.sendMail'| translate }}">
                                                <div class="col-xs-12">
                                                    <button id="btnForgotPassword" class="btn btn-success col-xs-12"
                                                            ng-click="forgotPassword(email)"
                                                            ng-disabled="isBtnActive(forgotPasswordForm)">
                                                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                                        {{'forgotPassword.btn.sendMail'| translate }}

                                                    </button>
                                                </div>
                                                <div class="col-xs-12">
                                                    <br/>
                                                    <a href="#/login" id="login-forget-link"
                                                       class="forgot-link col-xs-12">{{'lbl.back.to.login'| translate
                                                        }}</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
